.stage {
  padding: 10vw 5vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: fadeIn 0.3s 0.1s ease-in backwards;

  // animating stuff in
  [data-scroll].invisible {
    opacity: 0;
  }

  .visible.logo {
    animation: fadeInUp 0.5s 0.4s cubic-bezier(0.4, 0, 0.27, 1.8) backwards;
  }

  .visible.main-headline,
  .visible.subline {
    animation: fadeInUp 0.8s 0.7s ease-in backwards;
  }

  .visible.teasers {
    $delay: 0.2;

    @for $i from 1 through 5 {
      .teaser:nth-child(#{$i}) {
        animation: fadeIn 0.3s #{$delay}s ease-in backwards;
      }

      $delay: $delay + 0.2;
    }
  }

  .visible.video {
    animation: fadeInUp 1s 0.2s ease-in backwards;
  }

  // layouting
  display: flex;
  flex-direction: column;
  align-items: center;

  .stage-section {
    padding: 5vh 0;
  }

  .logo-headline {
    text-align: center;
    max-width: 800px;
  }

  .logo {
    width: 60vw;
    max-width: 340px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  .main-headline {
    font-size: 8vw;
    line-height: 1.3;

    @media (min-width: 670px) {
      font-size: 60px;
    }
  }

  .subline,
  .teaser p {
    opacity: 0.7;
  }

  .teasers {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
      align-items: flex-start;
    }

    .teaser {
      text-align: center;
      padding: 5vw 3vw;
      max-width: 280px;

      @media (min-width: 700px) {
        padding: 5vw 1.5vw;
      }

      h2 {
        margin-top: 0;
        font-size: 6vw;
        white-space: nowrap;
        line-height: 1;

        @media (min-width: 700px) {
          font-size: 4vw;
        }

        @media (min-width: 1000px) {
          font-size: 40px;
        }
      }

      p {
        margin: 0;
      }
    }
  }

  .video__wrapper {
    width: 80vw;
    max-width: 650px;

    iframe {
      box-shadow: 0 1vw 15vw rgba(black, 0.6);
    }
  }

  .video__caption {
    margin-top: 15px;
    position: relative;
    z-index: 10;
  }
}
