body {
  line-height: 1.6;

  // font packs
  &.fontpack--classic {
    font-family: "Open Sans", sans-serif;

    .display-font {
      font-family: "Prata", serif;
    }
  }

  &.fontpack--modern {
    font-family: "Roboto Mono", sans-serif;
    font-size: 15px;

    .display-font {
      font-family: "Oswald", serif;
      text-transform: uppercase;
    }
  }

  // themes
  &.theme--dark {
    color: $light;
    background-color: $dark;

    .highlight-text {
      color: $lightblue;
    }
  }

  &.theme--light {
    color: $dark;
    background-color: $light;

    .highlight-text {
      color: $blue;
    }
  }
}
