/**
 * This is the main scss file which includes your
 * various variables and partials and whatever else you might
 * need.
 *
 * Gulp will compile this over to ../css/screen.css (instead of
 * leaving this job to jekyll, because we love browsersync
 * and the flexibility of gulp)
 */

@import "normalize";

$lightblue: #31bef8;
$blue: #4a90e2;
$dark: #272727;
$light: #efefef;

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-weight: 300;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.video__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@import "theme";
@import "stage";
