<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="theme--{{ page.theme }} fontpack--{{ page.fontpack }}">
    <div class="page-content">
      {{ content }}
    </div>

    <script src="{{ site.baseurl }}/assets/js/ScrollTrigger.min.js" charset="utf-8"></script>
    <script src="{{ site.baseurl }}/assets/js/page.js{% if site.env != 'dev' %}?v={{ site.data.busters['js/page.js']}}{% endif %}" charset="utf-8"></script>
  </body>
</html>
