---
layout: default
---

<section class="stage" style="background-image: url({{ site.assetsurl }}{{ page.background.data.url }});">
  <main class="stage-section logo-headline">
    <figure data-scroll class="logo">
      <img src="{{ site.assetsurl }}{{ page.logo.data.url }}" alt="{{ page.title }}">
    </figure>
    <h1 data-scroll class="main-headline highlight-text display-font">{{ page.headline }}</h1>
    <p data-scroll class="subline">{{ page.subline }}</p>
  </main>

  {% if page.teasers %}
  <ul data-scroll class="stage-section teasers">
    {% for teaser in page.teasers.data %}
    <li class="teaser teaser--text">
      <h2 class="display-font">{{ teaser.title }}</h2>
      <p>{{ teaser.text }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if page.video-id %}
  <div data-scroll class="stage-section video">
    <div class="video__wrapper">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ page.video-id }}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <aside class="video__caption">
      <span class="video__title">{{ page.video-title }}</span>
    </aside>
  </div>
  {% endif %}
</section>
