---
layout: default
---

<h1>Pages (generated from YAML)</h1>

<ul>
{% for page in site.data.cms.data %}
  <li>
    <a href="{{ page.title | datapage_url: 'pages' }}">
      {{ page.title }}
    </a>
  </li>
{% endfor %}
</ul>
